PORT=3000

# Supabase pooler (runtime)
USERS_DATABASE_URL="postgresql://postgres.gjmkwqrnnxurwqcpywdj:YOUR_PASSWORD@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

RABBITMQ_URL=amqp://guest:guest@localhost:5672
